h1 {
    color:crimson;
}

/*h1:hover {
    zoom:150%;
}*/
a {
    color:white;
    border-radius: 7px;
}
body {
    background-color:#052134;
}
p {
    color:white;
}
h2 {
    color:orange;
}
h3 {
    color:aquamarine;
}
button {
    border: solid red;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    width: 20%;
}
.lav {
    border:solid aqua;
    margin:10px;
    border-radius: 20px 0px;
}
h4 {
    color:white;
    font-style: italic;
    text-decoration:underline;
}
.lav img {
    width: 30%;
    display: inline-block;
    
}
@media only screen and (max-width:799px) {
    .lav img {
        width: 49%;
        display: inline-block;
    }
    button {
        border: solid red;
        border-radius: 10px;
        font-size: 20px;
        background-color: white;
        width: 100%;
    }
    *{
        text-align: center;
    }
    p a{
        border: solid red;
        border-radius: 5px;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}